<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>간단계산기</title>
  </head>

  <body>
    <h1>간단 계산기</h1>
    <h3>{{result}}</h3>
    <form action="" method="post">
      {% csrf_token %}
      <input type="number" name="num1" placeholder="계산할 첫 번째 숫자 입력" />
      <select name="opr">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
      </select>
      <input type="number" name="num2" placeholder="계산할 두 번째 숫자 입력" />
      <input type="submit" value="계산하기" />
    </form>
  </body>
</html>
