<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALC</title>
    <style>
      #stat {
        width: 130px;
      }
      #buttons {
        width: 150px;
        height: 150px;
      }
      #buttons > button {
        width: 30px;
        height: 30px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(function () {
        // 16개 버튼에 대해 반복구문없이 이벤트를 넣어주는 것
        $("#buttons > button").click(function () {
          // $('#stat').val( this.innerText)
          if (this.innerText == "CE") {
            $("#stat").val("");
            return;
          }
          if (this.innerText == "=") {
            $("#calc_form").attr("onsubmit", "");

            $("#calc_form").submit();
            return;
          }
          $("#stat").val($("#stat").val() + this.innerText);
        });
      });
    </script>
    <style>
      #stat {
        text-align: right;
      }
    </style>
  </head>

  <body>
    <h1>계산기 v2</h1>
    <h1>{{result}}</h1>

    <form id="calc_form" action="" onsubmit="return false" method="post">
      {% csrf_token %}
      <input type="text" name="stat" id="stat" />
      <div id="buttons">
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>*</button>

        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>-</button>

        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>+</button>

        <button>0</button>
        <button>CE</button>
        <button>=</button>
        <button>/</button>
      </div>
    </form>
  </body>
</html>
