<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>간단 계산기 v1</title>
    <style>
      #start {
        width: 130px;
      }

      #buttons {
        width: 140px;
        height: 140px;
      }

      #buttons > button {
        width: 30px;
        height: 30px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      // $(function () {
      //   $('#btn').click(function () {
      //     this.innerText
      //   })
      // });
    </script>
  </head>

  <body>
    <h1>구구단 v1</h1>
    <h3>{{result}}</h3>
    <form action="" method="post">
      {% csrf_token %}
      <label for="">출력할 구구단 입력</label>
      <input type='number' name='dan' placeholder='출력할 구구단 단입력'></input>
      <input type='submit'>출력하기</input>
    </form>
  </body>

</html>
